app-header
app-shoe-list



div(style='text-align:center')
  div  {{ (items | async) }}


  router-outlet
form
  .row
    .medium-6.columns
      label
        | Input Label
        input(type='text', placeholder='.medium-6.columns')
    .medium-6.columns
      label
        | Input Label
        input(type='text', placeholder='.medium-6.columns')
