div(style='text-align:center')
  div  {{ (items | async) }}
  app-header
  app-shoe-list

  router-outlet
form
  .row
    .medium-6.columns
      label
        | Input Label
        input(type='text', placeholder='.medium-6.columns')
    .medium-6.columns
      label
        | Input Label
        input(type='text', placeholder='.medium-6.columns')
