
.row
  .small-5.large-5.columns(*ngFor='let s of shoes').center-cols
      .card(style='width: 400px;')
        .card-divider
          h4 {{s.name}}
        img(src='{{s.imagePath}}')
        .card-section
          p {{s.description}}




